main {
  margin: 2rem 0 2rem 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.formContainer h2 {
  color: #ffc400;
}

.subjectChoises {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}

.subjectChoises p {
  color: #ffc400;
}

.choisesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60rem;
}

.choisesButton {
  border: 2px solid #ffc400;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

.choisesButton:hover {
  border: 2px solid black;
  background-color: #ffc400;
  color: black;
}

.form {
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: #ffc400;
}

.form input,
.form textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  outline: none;
  background-color: #fefefe;
}

.form input:focus,
.form textarea:focus {
  border-color: #ffc400;
}

.form button {
  background-color: black;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #ffc400;
  color: black;
}

@media (max-width: 1024px) {
  body {
      font-size: 0.95rem; 
  }

  header .navbar {
      gap: 0.5rem;
      margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  body {
       font-size: 0.9rem;
  }

  header {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
  }
  
  header .logomarca {
       margin-left: 0;
       margin-bottom: 0.5rem;
  }

  header .navbar {
       gap: 0.5rem; 
       margin-right: 0;
       justify-content: center;
       flex-wrap: wrap;
  }
  
  .holographic-card a {
      font-size: 0.9rem;
      padding: 0.5rem;
  }
    
  footer {
    font-size: 0.9rem; 
    padding: 0.5rem;
    text-align: center;
}
}