@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

main {
  margin: 2rem 0 2rem 0;
  display: flex;
  place-items: center;
  flex-direction: column;
}

main h1 {
  font-size: 70px;
  color: rgb(243, 190, 14);
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  transition: 0.5s all;
  justify-content: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

main h1:hover {
  color: rgb black;
  font-family: "Fredericka the Great", serif;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(252, 235, 82);
  font-size: 70px;
}

section h1 {
  margin-top: 20px;
}

.sobre {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  background-color: black;
  box-shadow: 0 0 10px 6px #ffc400;
}

.sobre-img1 {
  max-height: 40rem;
  /* border: 1px solid rgb(255, 0, 149) */
}

.sobre-txt1 {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-image: url(../assets/img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 40rem; /* Isso força o fundo a ocupar a altura */
  width: 100%;
}

.sobre-txt1 h1 {
  font-size: 60px;
  color: rgb(243, 190, 14);
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  transition: 0.5s all;
  font-size: 50px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.sobre-txt1 h1:hover {
  color: rgb black;
  font-family: "Fredericka the Great", serif;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(252, 235, 82);
  font-size: 50px;
}

.sobre-txt1 p {
  font-size: 20px;
  color: white;
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  transition: 0.5s all;
  display: block;
}

.sobre2 {
  margin: 1rem;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  place-items: center;
  background-color: black;
  box-shadow: 0 0 10px 6px #ffc400;
}

.sobre-img2 {
  max-height: 40rem;
  /* border: 1px solid rgb(255, 0, 149) */
}

.sobre-txt2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-image: url(../assets/img/fundo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40rem; /* Isso força o fundo a ocupar a altura */
  width: 100%;
}

.sobre-txt2 h1 {
  font-size: 50px;
  color: rgb(243, 190, 14);
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  transition: 0.5s all;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.sobre-txt2 h1:hover {
  color: rgb black;
  font-family: "Fredericka the Great", serif;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(252, 235, 82);
  font-size: 50px;
}

.sobre-txt2 p {
  font-size: 20px;
  color: white;
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  transition: 0.5s all;
  display: block;
}

.sobre-img1,
.sobre-img2 {
  border-radius: 10px;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.sobre-img1:hover,
.sobre-img2:hover {
  transform: rotateY(10deg) rotateX(5deg) scale(1.05);
  box-shadow: 0 20px 40px #ffc400;
}

@media (max-width: 768px) {
  body {
       font-size: 0.9rem;
  }

  header {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
  }
  
  header .logomarca {
       margin-left: 0;
       margin-bottom: 0.5rem;
  }

  header .navbar {
       gap: 0.5rem; 
       margin-right: 0;
       justify-content: center;
       flex-wrap: wrap;
  }
  
  .holographic-card a {
      font-size: 0.9rem;
      padding: 0.5rem;
  }
    
  footer {
    font-size: 0.9rem; 
    padding: 0.5rem;
    text-align: center;
}
}