@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
    box-sizing: border-box
}

main {
margin-top: 30px;
}

main h1 {
    font-size:60px;
    color:  rgb(243, 190, 14);
    font-family: "Fredericka the Great", serif;
    font-weight: normal; 
    transition: 0.5s all;  
    display:flex;
    justify-content: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

main h1:hover{
    color:  rgb black;
    font-family: "Fredericka the Great", serif;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(252, 235, 82);
    font-size: 60px;
}

.sobre{
    display:flex;
    justify-content: center;
    width:fit-content;
    height: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:50px;
    background-color: black;
    box-shadow: 0 0 10px 6px #ffc400;
}

.sobre-img1{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid rgb(255, 0, 149) */
}

.txt-img1{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-left: 20px;
    /* border: 1px solid green; */
}

.sobre2{
    display:flex;
    justify-content: center;
    justify-items: center;
    width:fit-content;
    height: 900px;
    margin-bottom: 40px;
    margin-left:50px;
    background-color: black;
    box-shadow: 0 0 10px 6px #ffc400;    
}

.sobre-img2{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-left: 20px;
    /* border: 1px solid rgb(255, 0, 149) */
}

.txt-img2{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid green; */
}

    /* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: black; */
