* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
main{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

central {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  flex-wrap: wrap;
}

about-header {
  width: 100%;
  background-color: aquamarine;
}

.noticias-wraper-1 {
  display: flex;
  width: 100%;
}

.noticia-destaque {
  width: 60%;
  padding-top: 20%;
  background-color: #201f1f;
  border: 4px solid white;
  position: relative;
  background-image: url(../assets/img/anuncio-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.noticia-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.noticia-destaque-single h3 {
  padding: 10px;
  color: white;
}

.outra-noticia-1 {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}

.outra-noticia-1-single {
  width: 50%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 4px solid white;
  background-color: #201f1f;
  position: relative;
}

.outra-noticia-1-single h3 {
  padding: 10px;
  color: white;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.outra-noticia-1-single:hover {
  font-size: 15px;
}

#noticia {
  display: none;
  color: white;
}

#noticia:target {
  display: block;
}

#noticia-2 {
  display: none;
  color: white;
}

#noticia-2:target {
  display: block;
}

#noticia-3 {
  display: none;
  color: white;
}

#noticia-3:target {
  display: block;
}

#noticia-4 {
  display: none;
  color: white;
}

#noticia-4:target {
  display: block;
}

#noticia-principal {
  display: none;
  color: white;
}

#noticia-principal:target {
  display: block;
}

#link {
  color: #f4b400;
  font-size: 20px;
}
p {
  font-size: 20px;
  margin-left: 20px;
}
h2{
  color: #b88701;
  margin-left: 20px;
}
h1{
  color:#f4b400;
  margin-left: 15px;
}
button{
  color: #f4b400;
  font-size: 15px;
  margin-left: 120px;
  height: 50px;
  width: 190px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 4px 4px 0px;
  transition: transform 200ms ease-in-out;
  background-color:#ffffff
  
  
}
button:hover{
  transform: scale(1.05);
}


